## unir csv provincias a comunidades

In [28]:
import pandas as pd

# Lee el archivo CSV existente de Murcia, especificando el delimitador como punto y coma
df_murcia = pd.read_csv('murcia.csv', delimiter=';')

# Agrega una columna 'Provincia' en el DataFrame de Murcia para indicar la provincia de origen
df_murcia['Provincia'] = 'Murcia'

# Reordena las columnas para que 'Provincia' sea la primera
column_order_murcia = ['Provincia'] + [col for col in df_murcia.columns if col != 'Provincia']
df_murcia = df_murcia[column_order_murcia]

# Guarda el DataFrame actualizado de Murcia en el mismo archivo CSV
df_murcia.to_csv('murcia.csv', index=False)

print("Columna 'Provincia' agregada exitosamente al archivo murcia.csv.")

Columna 'Provincia' agregada exitosamente al archivo murcia.csv.

## unir todoas csv de comunidades

In [2]:
import pandas as pd

# Lista de nombres de los archivos CSV de las diferentes comunidades autónomas
archivos_comunidades = [
    'andalucia.csv', 'aragon.csv', 'asturias.csv', 'islas_baleares.csv', 'islas_canarias.csv', 
    'cantabria.csv', 'castilla leon.csv', 'cataluña.csv', 'ceuta.csv', 'extremadura.csv', 
    'galicia.csv', 'la_rioja.csv', 'com_madrid.csv', 'melilla.csv', 'murcia.csv', 'navarra.csv', 
    'com_valenciana.csv', 'pais_vasco.csv'
]

# Lista para almacenar los DataFrames de las diferentes comunidades autónomas
dataframes_comunidades = []

# Leer y combinar los archivos CSV en los DataFrames
for archivo in archivos_comunidades:
    df_comunidad = pd.read_csv(archivo)
    dataframes_comunidades.append(df_comunidad)

# Concatenar todos los DataFrames en uno solo
df_todas_comunidades = pd.concat(dataframes_comunidades, ignore_index=True)

# Guardar el DataFrame combinado de todas las comunidades autónomas en un archivo CSV
df_todas_comunidades.to_csv('todas_comunidades.csv', index=False)

print("Archivos CSV de todas las comunidades autónomas combinados exitosamente en un archivo todas_comunidades.csv.")

Archivos CSV de todas las comunidades autónomas combinados exitosamente en un archivo todas_comunidades.csv.

In [2]:
import pandas as pd

# Lee el archivo CSV de todas las comunidades autónomas
df_todas_comunidades = pd.read_csv('todas_comunidades.csv')

# Muestra información sobre el DataFrame
print(df_todas_comunidades.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46428 entries, 0 to 46427
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provincia         9166 non-null   object
 1   tipo/lugar        9166 non-null   object
 2   link              9166 non-null   object
 3   precio            9166 non-null   object
 4   caracteristicas   9166 non-null   object
 5   info              9157 non-null   object
 6   otros             1143 non-null   object
 7   Provincia         37262 non-null  object
 8   Id del anuncio    37262 non-null  float64
 9   Título            37262 non-null  object
 10  Tipo de inmueble  37262 non-null  object
 11  Descripción       37262 non-null  object
 12  Teléfono          37262 non-null  object
 13  Dirección         37262 non-null  object
 14  Precio            37262 non-null  float64
 15  Habitaciones      37262 non-null  float64
dtypes: float64(3), object(13)
memory usage: 5.7+ MB
None

In [3]:
# Encuentra y muestra los registros duplicados basados en todas las columnas
duplicados = df_todas_comunidades[df_todas_comunidades.duplicated()]

print("Registros duplicados:")
print(duplicados)

Registros duplicados:
      provincia                                         tipo/lugar  \
1090     Málaga  Piso en calle Cuarteles, 15, Perchel sur - El ...
1091     Málaga  Chalet pareado en Capellanía - Retamar, Alhaur...
1092     Málaga  Piso en calle Alonso de Palencia, Perchel nort...
1093     Málaga  Piso en Arrabal la Laguna, 176, Poniente-Faro,...
1094     Málaga  Casa o chalet independiente en calle Escorial,...
...         ...                                                ...
46396       NaN                                                NaN
46398       NaN                                                NaN
46399       NaN                                                NaN
46402       NaN                                                NaN
46405       NaN                                                NaN

                                                    link       precio  \
1090   https://www.idealista.com/venta-viviendas/mala...    369,000 €
1091   https://www.idealista.com/venta-viviendas/mala...    450,000 €
1092   https://www.idealista.com/venta-viviendas/mala...    207,000 €
1093   https://www.idealista.com/venta-viviendas/mala...    279,900 €
1094   https://www.idealista.com/venta-viviendas/mala...  2,180,000 €
...                                                  ...          ...
46396                                                NaN          NaN
46398                                                NaN          NaN
46399                                                NaN          NaN
46402                                                NaN          NaN
46405                                                NaN          NaN

                                     caracteristicas  \
1090   3 hab. 143 m² Planta 1ª exterior con ascensor
1091                                   4 hab. 221 m²
1092    2 hab. 50 m² Planta 4ª interior con ascensor
1093    2 hab. 93 m² Planta 3ª exterior con ascensor
1094                                   3 hab. 303 m²
...                                              ...
46396                                            NaN
46398                                            NaN
46399                                            NaN
46402                                            NaN
46405                                            NaN

                                                    info  \
1090   Gilmar Consulting Inmobiliario vende piso de 1...
1091   Gilmar Consulting Inmobiliario vende chale par...
1092   ¡Excelente vivienda rehabilitada! Clikalia pon...
1093   EN EXCLUSIVA CON GARRIDO A UN PASO DE LA PLAYA...
1094   Situada en una calle residencial de Las Brisas...
...                                                  ...
46396                                                NaN
46398                                                NaN
46399                                                NaN
46402                                                NaN
46405                                                NaN

                          otros Provincia  Id del anuncio              Título  \
1090   Con vistas Vistas al mar       NaN             NaN                 NaN
1091                 Lujo Villa       NaN             NaN                 NaN
1092                  Reformado       NaN             NaN                 NaN
1093                       Lujo       NaN             NaN                 NaN
1094                 Lujo Villa       NaN             NaN                 NaN
...                         ...       ...             ...                 ...
46396                       NaN   Vizcaya     101841599.0  Piso en bertendona
46398                       NaN   Vizcaya     100410412.0                Piso
46399                       NaN   Vizcaya      87091457.0              Chalet
46402                       NaN   Vizcaya      97809617.0                Piso
46405                       NaN   Vizcaya      98979017.0                Piso

      Tipo de inmueble                                        Descripción  \
1090               NaN                                                NaN
1091               NaN                                                NaN
1092               NaN                                                NaN
1093               NaN                                                NaN
1094               NaN                                                NaN
...                ...                                                ...
46396             Piso  El piso en venta en la calle Bertendona suena ...
46398             Piso  INMOBILIARIA QUORUM GETXO VENDE EN EXCLUSIVA p...
46399           Chalet  Atehome comercializa magnífica casa con vistas...
46402             Piso  Atehome vende vivienda impecable, completament...
46405             Piso  INMOBILIARIA QUORUM GETXO vende precioso bajo ...

        Teléfono                Dirección     Precio  Habitaciones
1090         NaN                      NaN        NaN           NaN
1091         NaN                      NaN        NaN           NaN
1092         NaN                      NaN        NaN           NaN
1093         NaN                      NaN        NaN           NaN
1094         NaN                      NaN        NaN           NaN
...          ...                      ...        ...           ...
46396  946980770               bertendona   750000.0           5.0
46398  946980700        Negurigane-Peruri   480000.0           3.0
46399  946980868      Sta. María de Getxo  2450000.0           8.0
46402  946980868  Otxarkoaga - Txurdinaga   395000.0           3.0
46405  946980700        Negurigane-Peruri   485000.0           3.0

[3572 rows x 16 columns]

In [4]:
# Elimina los registros duplicados basados en todas las columnas
df_sin_duplicados = df_todas_comunidades.drop_duplicates()

# Guarda el DataFrame sin duplicados en un nuevo archivo CSV
df_sin_duplicados.to_csv('comunidades_sin_duplicados.csv', index=False)

print("Registros duplicados eliminados y datos guardados en comunidades_sin_duplicados.csv.")

Registros duplicados eliminados y datos guardados en comunidades_sin_duplicados.csv.

In [6]:
import pandas as pd

# Lee el archivo CSV de todas las comunidades autónomas
df_todas_comunidades = pd.read_csv('todas_comunidades.csv')

# Lista de columnas en las que deseas eliminar las primeras 7 comas
columnas_eliminar_comas = ['provincia', 'tipo/lugar', 'link', 'precio', 'caracteristicas', 'info', 'otros']

# Elimina las primeras 7 comas en las columnas especificadas a partir de la línea 14610
for columna in columnas_eliminar_comas:
    df_todas_comunidades[columna] = df_todas_comunidades[columna].str.replace(r'^([^,]*,){7}', '')

# Guarda el DataFrame con las modificaciones en un nuevo archivo CSV
df_todas_comunidades.to_csv('comunidades_modificado.csv', index=False)

print("Primeras 7 comas eliminadas y datos guardados en comunidades_modificado.csv.")

Primeras 7 comas eliminadas y datos guardados en comunidades_modificado.csv.